<div class="container m-2 border">
    <div class="d-flex row" >
        <label class="label-control">{{fieldmeta.displayName}}</label>
        <div class="col">
            <select [formControl]="fieldControl" [multiple]="multiple" (blur)="validateForm()" >
                <option value="">select {{fieldmeta.displayName}}</option>(blur)="validateForm()"
                <option *ngFor="let option of fieldmeta.options" [value]="option.value">{{ option.label}}</option>
            </select>
            <div>
                <p class="text-danger" *ngIf="isShowError">{{showError}}</p>
            </div>
        </div>
    </div>
</div>